@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", Helvetica, sans-serif;
}
.special {
  font-family: "Lilita One", Helvetica, sans-serif;
}
.primary10 {
  color: #7a0d10;
}

.primary11 {
  color: #6e0c0e;
}

.primary12 {
  color: #620a0d;
}

.primary13 {
  color: #55090b;
}

.primary9 {
  color: #872528;
}

.primary8 {
  color: #953d40;
}

.primary7 {
  color: #a25658;
}

.secondary10 {
  color: #ff9d2d;
}

.secondary11 {
  color: #e68d29;
}

.secondary12 {
  color: #cc7e24;
}

.secondary13 {
  color: #b36e1f;
}

.secondary9 {
  color: #ffa742;
}

.secondary8 {
  color: #ffb157;
}

.secondary7 {
  color: #ffba6c;
}

.black100 {
  color: #0c0102;
}

.black80 {
  color: #3d3435;
}

.gray60 {
  color: #b6b3b3;
}

.gray40 {
  color: #cecccc;
}

.gray20 {
  color: #e7e6e6;
}
.gray10 {
  background-color: #f5f5f5;
}
.info {
  color: #195eeb;
}
.success {
  color: #00b549;
}
.erorr {
  color: #e9222d;
}
.warning {
  color: #f09701;
}
p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
h1 {
  font-size: 60px;
  line-height: 90px;
}
h2 {
  font-size: 48px;
  line-height: 72px;
}
h3 {
  font-size: 40px;
  line-height: 60px;
}
h4 {
  font-size: 32px;
  line-height: 48px;
}
h5 {
  font-size: 24px;
  line-height: 36px;
}
h6 {
  font-size: 20px;
  line-height: 30px;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
}
li {
  list-style: none;
}
.primaryBtn {
  font-family: "Rubik", Helvetica, sans-serif;
  background-color: #7a0d10;
  color: #e68d29;
  border-radius: 8px;
  font-size: 20px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.primaryBtn:hover {
  background-color: #e68d29;
  color: #7a0d10;
}
.secondaryBtn {
  font-family: "Rubik", Helvetica, sans-serif;
  background-color: #e68d29;
  color: #7a0d10;
  border-radius: 8px;
  font-size: 20px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.secondaryBtn:hover {
  background-color: #7a0d10;
  color: #e68d29;
}
a {
  text-decoration: none;
}
a:link {
  color: #0c0102;
}
a:visited {
  color: #55090b;
}
a:hover {
  color: #e68d29;
}
a:active {
  color: #7a0d10;
}
header {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
div.logo img {
  height: 40px;
}
div.logo span {
  font-size: 24px;
}
.mobileMenu {
  width: 26px;
  display: none;
}
header nav ul {
  /* display: inline-block;
  margin: 12px; */
  display: flex;
  gap: 24px;
}
header nav ul li a {
  font-size: 18px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 72px;
}
header nav ul li ul.child a {
  font-size: 16px;
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 40px;
}
header nav ul li.parent {
  position: relative;
}
header nav ul li.parent ul.child {
  display: none;
}
header nav ul li.parent:hover ul.child {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: white;
  border-top: 2px solid #f09701;
  padding: 0 16px;
}
li.hotline a {
  /* background-color: #ffa742; */
  padding: 8px 12px 8px 42px;
  border-radius: 8px;
  background: url(../images/phone-icon.svg) 12px center no-repeat #ffa742;
  background-size: 24px;
  color: #7a0d10;
}
li.hotline a:hover {
  color: #7a0d10;
}
li.bookingBtn a {
  padding: 8px 12px;
  background-color: #7a0d10;
  color: #ffa742;
  border-radius: 8px;
}
li.bookingBtn a:hover {
  color: #ffa742;
}
.homeHero {
  background-color: #ffba6c;
  padding: 48px 0;
}
.activeArea {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
.homeHero .activeArea {
  gap: 32px;
  align-items: center;
}
.heroImg img {
  max-width: 550px;
}
.placeHolder {
  background-color: #e7e6e6;
  min-height: 300px;
  border-radius: 24px;
}
.menu {
  padding: 96px 0;
}
.menu h2 {
  text-align: center;
}
hr {
  border: none;
  background-color: #ff9d2d;
  height: 4px;
  width: 100px;
  margin: 24px auto;
}
.offer,.postContent .offersArea {
  text-align: center;
  color: #fff;
}
.offer .activeArea, .postContent .offersArea {
  background: url(../images/offer-bg-shaded.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 24px;
  padding: 48px 16px;
}
h4.percent {
  width: 100px;
  height: 100px;
  background: url(../images/discount-star.svg) center center no-repeat;
  background-size: 100px;
  text-shadow: 1px 1px #0c0102;
  margin: 0 auto;
  padding-top: 24px;
}
.reviewBooking {
  padding: 96px 0;
}
.reviewBooking .activeArea {
  gap: 32px;
}
.reviews,
.bookingForm {
  flex: 1;
}
.reviewBooking h4 {
  margin-bottom: 16px;
}
.bookingForm form div,
.contactForm form div {
  margin-bottom: 24px;
  gap: 16px;
}
.bookingForm form div input,
.bookingForm form div select,
.bookingForm form div textarea,
.contactForm form div input,
.contactForm form div select,
.contactForm form div textarea {
  flex: 1;
  border: solid 1px #b6b3b3;
  padding: 8px;
  border-radius: 4px;
  color: #0c0102;
}
.bookingForm form div textarea,
.contactForm form div textarea {
  width: 100%;
  height: 80px;
}
.submitBtn {
  justify-content: flex-end;
}
footer {
  background-color: #e7e6e6;
  padding: 48px 0;
}
footer .social {
  display: flex;
  gap: 16px;
}
footer .social a {
  flex-basis: 40px;
}
footer div.logo,
footer h5 {
  margin-bottom: 24px;
}
.footerMenus li {
  line-height: 32px;
  padding-left: 16px;
  background: url(../images/menu-arrow.svg) left center no-repeat;
}
.footerMenus {
  gap: 48px;
}
.footerMenus ul,
footer .information,
footer .sitemap,
footer .contact {
  flex: 1;
}
footer .activeArea {
  gap: 48px;
}
footer .contact li {
  line-height: 24px;
  margin-bottom: 16px;
  padding-left: 24px;
}
footer .contact li.address {
  background: url(../images/location.svg) left 4px no-repeat;
}
footer .contact li.time {
  background: url(../images/open-time.svg) left 4px no-repeat;
}
.pageTitle {
  text-align: center;
  padding: 80px 16px;
  background-color: #7a0d10;
  color: #e68d29;
}
.about {
  background: url(../images/about_section_bg.jpg) center center no-repeat
    #7a0d10;
  background-size: cover;
}
.contactPage {
  background: url(../images/contact_section_bg.jpg) center center no-repeat
    #7a0d10;
  background-size: cover;
}
.beef {
  background: url(../images/beef.jpg) center center no-repeat #7a0d10;
  background-size: cover;
}
.blog {
  background: url(../images/blog-list-bg.png) center center no-repeat #7a0d10;
  background-size: cover;
}
.content {
  padding: 96px 0;
}
.ourStory {
  gap: 40px;
  margin-bottom: 96px;
}
.ourStory img {
  width: 364px;
  border-radius: 16px;
}
.ourStory div {
  flex: 1;
}
.ourStory h2 {
  margin-bottom: 24px;
}
.allChefs h3 {
  text-align: center;
}
.masterChef {
  background-color: #e7e6e6;
  border-radius: 16px;
  padding: 24px 24px 0 24px;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
}
.masterChef img {
  width: 280px;
}
.chefs {
  gap: 2%;
  flex-wrap: wrap;
}
.card {
  background-color: #e7e6e6;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  flex-basis: 32%;
  margin-bottom: 2%;
}
.card img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 280px;
  margin-bottom: 32px;
}
.contactTop {
  margin-bottom: 96px;
  gap: 2%;
}
.contactInfo,
.contactForm {
  flex-basis: 49%;
}
.contactTop h2 {
  margin-bottom: 24px;
}
.contactInfo li {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  padding-left: 30px;
}
.contactInfo li.address {
  background: url(../images/location.svg) left 2px no-repeat;
  background-size: 20px;
}
.contactInfo li.email {
  background: url(../images/mail.svg) left 2px no-repeat;
  background-size: 20px;
}
.contactInfo li.phone {
  background: url(../images/phone.svg) left 2px no-repeat;
  background-size: 20px;
}
.map {
  text-align: center;
}
.map iframe {
  width: 100%;
  height: 400px;
  border-radius: 16px;
}
ul.menuList, ul.blogList {
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 24px;
}
ul.menuList li {
  flex: 1 21%;
  margin-bottom: 2%;
}
ul.blogList li {
  flex: 1 32%;
  margin-bottom: 2%;
  background-color: #f5f5f5;
}
ul.blogList li div {
  padding: 16px;
}
ul.blogList li div p.date {
  margin-bottom: 12px;
  padding-left: 24px;
  background: url(../images/calendar.svg) left center no-repeat;
  background-size: 16px;
}
ul.blogList li div a.readMore {
  font-size: 12px;
  color: #620a0d;
  background: url(../images/menu-arrow.svg) right center no-repeat;
  display: inline-block;
  padding-right: 16px;
}
ul.menuList li a {
  background-color: #e7e6e6;
  border-radius: 16px;
  padding: 16px;
  display: block;
  text-align: center;
  color: #6e0c0e;
}
ul.menuList li a:hover {
  background-color: #ffb157;
  color: #6e0c0e;
}
ul.menuList li a img {
  border-radius: 50%;
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 24px;
  border: solid 4px white;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pagination li a {
  background-color: #ffba6c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.pagination li.active a {
  background-color: #cc7e24;
}
.center {
  text-align: center;
}
.mealDetails {
  padding: 96px 0;
  background-color: #f5f5f5;
}
.mealDetails .activeArea {
  gap: 40px;
}
.mealDetails .activeArea img {
  max-width: 550px;
  border-radius: 16px;
}
.mealInfo {
  flex: 1;
}
.mealInfo ul {
  margin-bottom: 24px;
}
.mealInfo ul li {
  line-height: 28px;
  list-style: inside;
}
.mealInfo hr {
  width: 100%;
}
.mealInfo div.flex {
  gap: 24px;
}
.mealInfo .price {
  background-color: #7a0d10;
  border-radius: 8px;
  color: #e68d29;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
}
.mealInfo .price strong {
  color: #fff;
}
section.postContent {
  padding: 80px 0;
  background: linear-gradient(180deg, #E7E6E6 400px, #fff 100px);
  min-height: 400px;
}
.imagePost {
  height: 400px;
  object-fit: cover;
  margin-bottom: 48px;
}
.postContent .offersArea {
  margin: 48px 0;
}
div.postNav {
  justify-content: space-between;
  padding-top: 48px;
}
div.postNav a.secondaryBtn {
  font-size: 16px;
  font-weight: 300;
}
li.offerItem {
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  gap: 24px;
  align-items: center;
  margin-bottom: 2%;
  flex-basis: 49%;
}
li.offerItem h5 {
  padding-bottom: 16px;
  border-bottom: 2px dashed #868686;
  margin-bottom: 16px;
}
.priceDiscount {
  justify-content: space-between;
  align-items: center;
}
li.offerItem .offerImg img {
  width: 154px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
li.offerItem .offerImg {
  position: relative;
}
.offerPercent {
  position: absolute;
  color: white;
  background-color: #e68e29c2;
  padding: 8px;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  text-shadow: 1px 1px #0c0102;
}
ul.offersList {
  gap: 2%;
  flex-wrap: wrap;
}
.offerInfo {
  flex: 1;
}
.offerInfo p span {
  text-decoration: line-through;
}
.offerInfo p {
  margin-bottom: 0;
}
/* Tablet Styling */
@media screen and (max-width: 1140px) {
  .mobileMenu {
    display: block;
  }
  header nav {
    display: none;
  }
  header {
    height: 64px;
  }
  h1 {
    font-size: 48px;
    line-height: 63px;
  }
  h2 {
    font-size: 36px;
    line-height: 54px;
  }
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
  h4 {
    font-size: 28px;
    line-height: 42px;
  }
  .homeHero .activeArea,
  .reviewBooking .activeArea,
  footer .activeArea {
    flex-direction: column;
  }
  .heroText {
    text-align: center;
  }
  .card {
    flex-basis: 49%;
    margin-bottom: 2%;
  }
  ul.menuList li {
    flex: 1 32%;
  }
  .mealDetails .activeArea {
    flex-direction: column;
  }
  .mealDetails .activeArea img {
    width: 100%;
  }
  ul.blogList li {
    flex: 1 49%;
  }
  li.offerItem {
    flex-basis: 100%;
  }
}
/* Mobile landescape Styling */
@media screen and (max-width: 768px) {
  .ourStory {
    flex-direction: column;
  }
  .ourStory img {
    width: 100%;
  }
  .masterChef {
    flex-direction: column-reverse;
    text-align: center;
  }
  .masterChef img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 2%;
  }
  .contactTop {
    flex-direction: column;
  }
  ul.menuList li {
    flex: 1 49%;
  }
}

@media screen and (max-width: 540px) {
  ul.menuList li {
    flex: 1 100%;
  }
  ul.blogList li {
    flex: 1 100%;
  }
  li.offerItem {
    flex-direction: column;
  }
  li.offerItem .offerImg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.offerImg, .offerInfo {
  flex-basis: 100%;
  width: 100%;
}
}
